* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1rem;
  vertical-align: center;
}
html,
body {
  margin: 0;
  padding: 0.5rem;
  background-color: darkslategray;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
